
.icon-signal:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */