
.icon-camera:before { content: '\e800'; } /* '' */
.icon-flashlight:before { content: '\e801'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */